<h2>Edit Trip</h2>

<p><%= @trip.trip_title %></p>
<p><%= @trip.country %></p>
<p><%= @trip.city %></p>
<p><%= @trip.year_visited %></p>
<p><%= @trip.category %></p>

<form action="/trips/<%= @trip.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <br>
    
    <label>Category</label>
    <select name="category">
    <option value="Past Trip">Past Trip</option>
    <option value="Wishlist">Wishlist</option>
    </select>  <br>

    <label>Trip Title</label>
    <br>
    <input type="text" name="trip_title" value="<%= @trip.trip_title %>">

    <% if @failed_trip_title %>
      <p class="danger">Don't forget to give your trip a title!</p>
        <% end %>
    <br>

    <label>Country</label>
    <input type="text" name="country" value="<%= @trip.country %>"><br>

    <% if @failed_country %>
        <p class="danger">Don't forget to include the country!</p>
      <% end %>
    
    <label>City<label>
    <input type="text" name="city" value="<%= @trip.city %>"><br>

    <label>Year Visited</label>
    <input type="text" name="year_visited" value="<%= @trip.year_visited %>"><br>
    <% if @failed_year_visited %>
        <p class="danger">Don't forget to include the year you went on this trip!</p>
      <% end %>


    <input type="submit" value="Edit Trip">
</form>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>