<!-- Shows all users trips to logged in user -->
<h1>All Users Trips</h1>
<% @trips.each do |trip| %>
    <p><%= trip.country %></p>
    <p><%= trip.city %></p>
    <p><%= trip.date_visited %></p>
    <p><%= trip.category %></p>
    <% trip.highlights.each do |highlight| %>
        <p><%= highlight.highlight_category %></p>
        <p><%= highlight.place %></p>
    <% end %>


<% end %>