<div class="title_container">
    <p class="index_title">Travel Tracker</p>
</div>

<div class="sort_menu_container">
<div class="sort_text">
<p>Sort by:
</div>
<div class="sort_menu">
  <a class="<%= if @sort == 'city' then 'selected' end%>" href="/trips?sort=city">City</a>
  <a class="<%= if @sort == 'country' then 'selected' end%>" href="/trips?sort=country">Country</a>
  <a class="<%= if @sort == 'year' then 'selected' end%>" href="/trips?sort=year">Year</a>
  <a class="<%= if @sort == 'title' then 'selected' end%>" href="/trips?sort=title"">Title</a>
  </p>
</div>
</div>


<div class="filter_menu_container">
<div class="filter_text">
<p>See:
</div>
<div class="filter_menu">
  <a class="<%= if @status == nil then 'selected' end%>" href="/trips">All Trips</a>
  <a class="<%= if @status == 'pasttrips' then 'selected' end%>" href="/trips?status=pasttrips">Past Trips</a>
  <a class="<%= if @status == 'wishlist' then 'selected' end%>" href="/trips?status=wishlist">Wishlist</a>
  </p>
</div>
</div>

<div class="grid">
<% if @trips == nil %>

<% elsif @trips.length > 1 %>
  <% @trips.each do |trip| %>
    <div class="module">
    <h4><%= trip.trip_title %></h4>

    <div class="box">
    <img src="/assets/images/city.png" alt="City Icon">
    <p><span class="label">City: </span><%= trip.city %></p><br>
    </div>

    <div class="box">
    <img src="/assets/images/country.png" alt="Country Icon">
    <p><span class="label">Country: </span><%= trip.country %></p><br>
    </div>

    <div class="box">
    <img src="/assets/images/calendar.jpg" alt="Calendar Icon">
    <p><span class="label">Year: </span><%= trip.year_visited %></p><br>
    </div>

    <div class="view_trip">
    <form method="get" action="/trips/<%= trip.id %>">
    <button type="submit">View Trip</button>
    </form>
    </div>

    </div>
  <% end %>
<% else %>
<div class="module">
    <h4><%= @trips.first.trip_title %></h4>

    <div class="box">
    <img src="/assets/images/city.png" alt="City Icon">
    <p><span class="label">City: </span><%= @trips.first.city %></p><br>
    </div>

    <div class="box">
    <img src="/assets/images/country.png" alt="Country Icon">
    <p><span class="label">Country: </span><%= @trips.first.country %></p><br>
    </div>

    <div class="box">
    <img src="/assets/images/calendar.jpg" alt="Calendar Icon">
    <p><span class="label">Year: </span><%= @trips.first.year_visited %></p><br>
    </div>

    <div class="view_trip">
    <form method="get" action="/trips/<%= @trips.first.id %>">
    <button type="submit">View Trip</button>
    </form>
    </div>

    </div>
<% end %>
</div>