<div class="title_container">
    <p class="index_title">Travel Tracker</p>
</div>

<div class="create_highlight_container">

<div class="create_highlight_table">
  <div class="title">
  <p><%= @trip.trip_title %></p>
  </div>

<div class="row">

  <div class="column">
    <p><img style="vertical-align:middle" src="/assets/images/country.png" alt="Country Icon"><label>Country: </label><%= @trip.country %></p>
  </div>
  
  <div class="column">
    <p><img style="vertical-align:middle" src="/assets/images/city.png" alt="City Icon"><label>City: </label><%= @trip.city %></p>
  </div>

  <div class="column">
    <p><img style="vertical-align:middle" src="/assets/images/calendar.jpg" alt="Calendar Icon"><label>Year: </label><%= @trip.year_visited %></p>
  </div>

  <div class="column">
    <p><img style="vertical-align:middle" src="/assets/images/heart-icon.png" alt="Heart Icon"><label>Type: </label><%= @trip.category %></p>
  </div>

</div>
</div>
</div>

<div class="create_highlight_form">
<div class="create_highlight_form_table">
<table>

<form action='/highlights' method="post">
<tr>
    <td><label>Place:</label>
    <input type="text" name="place" placeholder="Where did you go?">
    
    <% if @failed_place %>
        <p class="new_highlight_danger"> Please include a place!</p>
        <% end %>
    </td>


    <td><label>Notes:</label>
    <textarea maxlength="300" name="notes" placeholder="What did you see?"></textarea></td>
</tr>
    <input type="hidden" name="trip_id" value="<%= @trip.id %>">
</table>

<div class="button_holder">
    <input type="submit" value="Create Highlight">
</div>


  </form>
  </div>
  </div>